<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li class="item"> <a href="#home">Home</a> </li>
            <li class="item"> <a href="#About">About</a> </li>
            <li class="item"> <a href="#contact">Contact us</a> </li>
            <li class="item"> <a href="#Service">Feedback</a> </li>
            <li class="item"> <a href="#Gallery">Gallery</a> </li>
        </ul>
    </nav>
    <div class="name"><h3>Gautam Technical</h3></div>

    <div class="middle">
        <p>WE WILL HELP YOU TO <br> <p class="color-change">GROW YOUR BUSINESS</p><br></p>
        <p class="font-change">We are the team Of <b>Professional Developer</b></p>
        <button class="button">READ MORE</button>
    </div>

    <img class="image" src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z3JvdyUyMHlvdXIlMjBidXNpbmVzc3xlbnwwfHwwfHx8MA%3D%3D" alt="">

    <div class="about">
        <p>About Us <br></p>
        <p class="two">grow your business with us</p>
    </div>

    <!-- Contact Form Section -->
    <section class="contact-form">
        <h2 class="cus">Contact Us</h2>
        <form id="contact-form" method="post" action="/contact">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
             <label for="Phone">Phone:</label>
            <input type="text" id="Phone" name="Phone" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </section>

</body>
</html>
